h4, h5, h6, h1, h2, h3 {
	margin-top: 0;color:#333;
}
ul, ol {
	margin: 0;
}
p {
	margin: 0;
	font-weight: 300;
}
html, body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 100%;
	background-color: #FFF;
	color: #777;
}
body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.header {
	background: #fff;
	padding: 2em 0;
	border-top: 3px solid #197582;
}
.more{
   margin-bottom: 20px;
}
.navbar-brand {
	font-size: 33px;
	font-weight: 700;
	color: #444;
	letter-spacing: 1px;
	padding: 5px;
        margin-top:20px;
}
.navbar-brand:hover {
	color: #197582;
}
.navbar-brand .fa {
	color: #197582;
}
.menu {
	float: right;
}
.menu li {
	display: inline-block;
}
.menu li:first-child {
	margin-left: 0;
}
.menu li a {
	display: block;
	font-size: 1.2em;
	color: #333;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;
}
#nav .current a {
	color: #197582;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.menu li a:hover, .menu li.active a {
	color: #197582;
	background: #fff !important;
}
.toggleMenu {
	display: none;
	padding: 4px 5px 0px 5px;
	border-radius: 2em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	-o-border-radius: 2em;
}
.nav:before, .nav:after {
	content: " ";
	display: table;
}
.nav:after {
	clear: both;
}
.nav ul {
	list-style: none;
}
.img{
   border:1px solid #ccc;
}
.img:hover{
   opacity: 0.7;
   cursor: pointer;
}
.para{
   margin:20px 0px 20px 0px;
}
.gallery-top{
   margin:20px 0px 0px 0px;
}
.top{
   margin:0px 0px 0px 0px;
}
.product{
   color:#333;
   text-align:center;
}
/*banner*/
.banner {
	background: url(../images/banner.jpg) no-repeat center;
	min-height: 500px;
	width: 100%;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 100px;
}
.banner-info {
	margin-top: 8em;
}
.banner-info h1 {
	font-size: 3em;
	color: #eee;
	line-height: 1.4em;
	margin: 0em;
	font-weight: 500;
}
.banner-info p {
	color: #ddd;
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 1.8em;
	margin-top: 1em;
}
.content_white {
	text-align: left;
	margin:50px 0 0px 0;
}
.content_white h2 {
	font-size: 2em;
	font-weight: 500;
}
h3.m_1 {
	padding: 0.8em 0;
	margin: 0;
}
h3.m_1 a{
	font-size: 1.1em;
	color: #333;
	text-decoration: none;
}
h3.m_1 a:hover {
	color: #197582;
}
p.m_2 {
	color: #e9f8f5;
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 1em;
	font-weight: 300;
}
.feature_btn {
	display: inline-block;
	padding: 6px 20px;
	font-size: 1em;
	cursor: pointer;
	background: #197582;
	color: #fff;
	font-weight: 500;
	text-decoration: none;
	outline: none;
	border-radius: 5px;
}
.feature_btn:hover {
	background: #333;
	color: #fff;
	text-decoration: none;
}
/*portfolio*/
.box{
  width:80%;
  height:auto;
  padding: 1px;
  margin-bottom:8px;
  margin-top:20px;
}
.box h2{
   cursor: pointer;
   margin: 0;
   font-size: 2em;
   font-weight: 500;
}
.box h2.up{
  color:#000;
}
.box a{
  color:#333;
  font-size: 20px;
}
.box a:hover{
  color:#197582;
}
ul{
   list-style-type:none;
   margin-bottom: 15px;
   margin-top: 20px;
}
ul li{
  line-height: 40px;
  text-align:left;
}
.act a{
  color:#197582;
}
.beach{
   margin-top:50px;
}
/*gallery*/
.gallery{
    margin-left:10px;
}
.images{
	width:100%;
}
.gallery-photo{
    width:100%;margin:10px 0 10px 0;
}
/*footer*/
.follow-us {
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
}
.shopping {
  padding-top: 6px;
  font-size: 16px;
  text-align: center;
  width: 32px;
  height: 32px;
  border: 1px solid #197582;
  border-radius: 5px;
  color: #197582;
  margin: 5px;
}
.social-icon {
	padding-top: 6px;
	font-size: 16px;
	text-align: center;
	width: 32px;
	height: 32px;
	border: 2px solid #d5f1eb;
	border-radius: 50%;
	color: #d5f1eb;
	margin: 5px;
}
a.shopping:hover,
a.shopping:active, 
a.shopping:focus,
a.social-icon:hover,
a.social-icon:active, 
a.social-icon:focus {
	text-decoration: none;
	color: #333;
	border-color: #333;
}
.social{
   text-align: right;
}
.info{
   color:#5fccb4;
}
.info:hover{
   color:#e5e52d;
}
.footer{
   width:100%;
   margin-top:80px;
}
.footer_bottom {
	padding: 2em 0;
	background: #197582;
}
.copyright{
   background:#333;
   width:100%;
}
.copy {
	text-align: center;
}
.copy p {
	font-size: 1em;
	color: #fff;
        padding:8px;
}
.copy p a {
	color: #fff;
	border-bottom: 1px dotted;
}
.copy p a:hover {
	color: #e5e52d;
	border-bottom: 1px solid;
	text-decoration: none;
}
.highlight-info {
	padding: 5em 0;
}
.highlight-info h4 {
	margin: 0.5em 0 0 0;
        font-size:1.5em;
}
.form{
   float: right;
   width:39%;
}
.email{
   color:#fff;
   font-size:20px;
   font-weight: normal;
}
.submit{
   background:#ccc;
   float: right;margin-top:10px;
}
/*media*/
@media screen and (max-width:800px) {
.menu {
	margin: 10px 0;
}
.active {
	display: block;
}
.menu li a {
	text-align: left;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
}
.nav {
	list-style: none;
	width: 95%;
	position: absolute;
	right: 10px;
	background: #051619;
	top: 86px;
	z-index: 9999;
	border: 1px solid #197582;
}
.menu li a span {
	text-align: center;
	top: 15px;
}
.nav li ul {
	width: 100%;
}
.menu ul {
	margin: 0;
}
.nav > li.hover > ul {
	width: 100%;
}
.nav > li {
	float: none;
	display: block;
}
.nav ul {
	display: block;
	width: 100%;
}
.nav > li.hover > ul, .nav li li.hover ul {
	position: static;
}
.nav li a {
	border-top: 1px solid #197582;
	background: #fff;
}
.nav li:first-child a {
	border-top: none;
}
.form{
   width:39%;
}
}
@media (max-width:1024px) {
.banner {
	min-height: 450px;
}
.banner-info {
	margin-top: 4em;
}
.form{
   width:63%;
}
}
@media (max-width:970px) {
.form{
   width:63%;
}
}
@media (max-width:800px) {
.header {
	padding: 1em 0;
}
.banner-info h1 {
	font-size: 2em;
}
.banner {
	min-height: 400px;
}
.form{
   width:32%;
}
}
@media (max-width:640px) {
.content_white p {
	font-size: 1.3em;
}
.form{
   width:50%;
}
}
@media (max-width:480px) {
.banner {
	min-height: 250px;
}
.banner-info h1 {
	font-size: 1.5em;
}
.banner-info p {
	font-size: 0.8125em;
}
.banner-info {
	margin-top: 2em;
}
.header {
	padding: 0.5em 0;
}
.content_white h2 {
	font-size: 1.5em;
}
.content_white p {
	font-size: 1em;
}
.form{
   width:80%;
}
}
@media (max-width:320px) {
.banner-info h1 {
	font-size: 1.2em;
}
.banner-info p {
	font-size: 12px;
}
.banner {
	min-height: 150px;
}
.content_white p {
	font-size: 0.95em;
	line-height: 1em;
	padding: 0 10px;
}
.content_white h2 {
	font-size: 1.3em;
}
.res{
   width:100%;
}
.form{
   width:100%;
}
}